body {
  background-color: cadetblue;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  margin-top: 100px;
  height: auto;
  width: 450px;
  background: lightgray;
  border-radius: 5px;
}
.label {
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: black;
}
.label-name {
  text-align: center;
  margin-left: 80px;
  font-size: 20px;
}
.type-text {
  margin: 20px;
}
.btn-submit {
  text-align: center;
  margin-left: 100px;
}
